front_end_test.html.haml
%meta{name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1"}
%link{rel: "stylesheet", href: "application.css"}
%link{rel: "stylesheet", href: "bootstrap_thin.css"}
.col-xs-12
  .grand-container
    .panel-padding
      .row
        .col-xs-12
          .general-header-big How It Works
      .row.hiw-container
        .col-md-6.col-sm-6.col-xs-12.hiw-text
          .row
            .col-xs-12
              %span.floatleft.cerulean-header 1.
              %span.floatleft.directions-width
                .general-content You pay for a subscription to a solar installation and continue receiving your electricity from the grid.
          .add-vertical-pad.not-mobile
          .add-small-vertical-pad.mobile-only
          .row
            .col-xs-3
            .col-xs-6
              .thin-rule.grey-rule
            .col-xs-3
          .add-vertical-pad.not-mobile
          .add-small-vertical-pad.mobile-only
          .row
            .col-xs-12
              %span.floatleft.navy-header 2.
              %span.floatleft.directions-width
                .general-content The electricity from the solar installation is put on the grid. No panels go on your property, and no new wires run to your house or building.
          .add-vertical-pad.not-mobile
          .add-small-vertical-pad.mobile-only
          .row
            .col-xs-3
            .col-xs-6
              .thin-rule.grey-rule
            .col-xs-3
          .add-vertical-pad.not-mobile
          .add-small-vertical-pad.mobile-only
          .row
            .col-xs-12
              %span.floatleft.grey-header 3.
              %span.floatleft.directions-width
                .general-content
                  You get
                  %a{href: "#/", class: "link_inline"} credit on your bill
                  for the electricity generated by your community solar subscription.
        .col-md-6.col-sm-6.col-xs-12.hiw-img
          .imgwrap-center
            %img{src: "AboutCommunitySolarDiagram.jpg", class: "side-by-image"}
          .add-vertical-pad.mobile-only

front_end_test.html
<meta content='width=device-width, initial-scale=1, maximum-scale=1' name='viewport'>
<link href='application.css' rel='stylesheet'>
<link href='bootstrap_thin.css' rel='stylesheet'>
<div class='col-xs-12'>
  <div class='grand-container'>
    <div class='panel-padding'>
      <div class='row'>
        <div class='col-xs-12'>
          <div class='general-header-big'>How It Works</div>
        </div>
      </div>
      <div class='row hiw-container'>
        <div class='col-md-6 col-sm-6 col-xs-12 hiw-text'>
          <div class='row'>
            <div class='col-xs-12'>
              <span class='floatleft cerulean-header'>1.</span>
              <span class='floatleft directions-width'>
                <div class='general-content'>You pay for a subscription to a solar installation and continue receiving your electricity from the grid.</div>
              </span>
            </div>
          </div>
          <div class='add-vertical-pad not-mobile'></div>
          <div class='add-small-vertical-pad mobile-only'></div>
          <div class='row'>
            <div class='col-xs-3'></div>
            <div class='col-xs-6'>
              <div class='thin-rule grey-rule'></div>
            </div>
            <div class='col-xs-3'></div>
          </div>
          <div class='add-vertical-pad not-mobile'></div>
          <div class='add-small-vertical-pad mobile-only'></div>
          <div class='row'>
            <div class='col-xs-12'>
              <span class='floatleft navy-header'>2.</span>
              <span class='floatleft directions-width'>
                <div class='general-content'>The electricity from the solar installation is put on the grid. No panels go on your property, and no new wires run to your house or building.</div>
              </span>
            </div>
          </div>
          <div class='add-vertical-pad not-mobile'></div>
          <div class='add-small-vertical-pad mobile-only'></div>
          <div class='row'>
            <div class='col-xs-3'></div>
            <div class='col-xs-6'>
              <div class='thin-rule grey-rule'></div>
            </div>
            <div class='col-xs-3'></div>
          </div>
          <div class='add-vertical-pad not-mobile'></div>
          <div class='add-small-vertical-pad mobile-only'></div>
          <div class='row'>
            <div class='col-xs-12'>
              <span class='floatleft grey-header'>3.</span>
              <span class='floatleft directions-width'>
                <div class='general-content'>
                  You get
                  <a class='link_inline' href='#/'>credit on your bill</a>
                  for the electricity generated by your community solar subscription.
                </div>
              </span>
            </div>
          </div>
        </div>
        <div class='col-md-6 col-sm-6 col-xs-12 hiw-img'>
          <div class='imgwrap-center'>
            <img class='side-by-image' src='AboutCommunitySolarDiagram.jpg'>
          </div>
          <div class='add-vertical-pad mobile-only'></div>
        </div>
      </div>
    </div>
  </div>
</div>
